@using RedSocialWebApp.Core.Application.ViewModels.Publicaciones
@model SavePublicacionViewModel
@{
    ViewData["Title"] = "Eliminar Publicacion";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-warning text-Blak text-center">
                <h4>Esta seguro que desea eliminar esta publicacion?</h4>

            </div>
            <div class="card-body text-center">
                <form method="post" asp-controller="Home" asp-action="DeletePost">

                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver atras</a>
                </form>
            </div>
        </div>
    </div>
</div>

